body {
    background-color: teal;
}

.input_search input {
    width: 80%;
    height: 50px;
    padding-left: 10px;
    outline: none;
    margin: 0 auto;
    display: block;
}

table {
    width: 80%;
    margin: 20px auto;
}

table th,
table td {
    width: 30%;
    padding: 20px;
}

.green {
    display: none;
}